.container{
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto

}

.lists{
   list-style: none;
   display: flex;
   justify-content: space-around;
   gap: 40px;
}
.icons{
    display: flex;
    justify-content: end;
}